body {
            font-family: Arial;
            background-color: #4519a4;
        }

        img.logo {
            display: right;
            margin: 0 auto 0px auto;
            width: 150px;
            height: auto;

        }
        form {
            width: 900px;
            margin: 50px auto;
            padding: 25px;
            background: white;
            border-radius: 10px;
        }

        h2 {
            text-align: center;
        }

        label {
            display: block;
            margin-top: 10px;
        }

        input, select {
            width: 100%;
            padding: 8px;
            margin-top: 5px;
            box-sizing: border-box;
        }

        .gender {
            width: auto;
        }

        .terms {
            width: auto;
        }

        button {
            width: 100%;
            padding: 10px;
            margin-top: 15px;
            background-color: green;
            color: white;
            border: none;
        }

        span {
            color: red;
            font-size: 13px;
        }
        .captcha-section {
    margin-top: 25px;
    padding-top: 20px;
    border-top: 1px solid #ddd;
}

.captcha-section > label {
    font-size: 16px;
}

.captcha-section label span {
    color: red;
}

.captcha-box {
    width: 280px;
    height: 70px;
    margin-top: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    display: flex;
    align-items: center;
    padding: 0 15px;
    box-sizing: border-box;
}

.captcha-box input {
    width: 28px;
    height: 28px;
    margin: 0 15px 0 0;
}

.captcha-box label {
    margin: 0;
    font-size: 14px;
    color: #444;
}

.captcha-logo {
    margin-left: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    font-size: 11px;
}

.captcha-logo b {
    font-size: 25px;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 25px;
}

.buttons button {
    width: 180px;
    padding: 12px;
    font-size: 16px;
    cursor: pointer;
}

.print-btn {
    background: white;
    color: #333;
    border: 1px solid #555;
}

.submit-btn {
    background: #222;
    color: white;
    border: 1px solid #555;
}

#captchaError {
    display: block;
    margin-top: 5px;
    color: red;
    font-size: 13px;
}